
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  /* shared styles */

  /* header styles  */
  /* nav bar styles */
  .display-flex{
    display: flex;
  }
  
.navbar{
    justify-content: space-between;
    align-items: center;
    padding: 0 140px;
}
  .nav-item{
    list-style: none;
    margin-right: 30px;
  }
  .nav-link{
text-decoration: none;
  }
  .nav-text-first{
    color: rgba(254, 163, 1, 1);
    font-size: 20px;
    font-weight: bold;
  }
  .nav-text-second{
    color: rgba(1, 172, 253, 1);
    font-size: 20px;
    font-weight: medium;
  }
  .nav-text-third{
    color: rgba(5, 212, 223, 1);
    font-size: 20px;
    font-weight: medium;
  }
  .nav-text-four{
    color: rgba(93, 88, 239, 1);
    font-size: 20px;
    font-weight: medium;
  }
  .button-text{

background-color: rgba(254, 163, 1, 1);
border-radius: 12px;
text-align: center;
font-size: 20px;
font-weight: semibold;
color: white;
padding: 10px 60.5px;
border: none;


  }

.bg-light{
    background-color: white;
   
}
.navbar, .banner{
    max-width: 1150px;
    margin: 0 auto;
}
.school{
   margin: 0;
   padding: 11px 11px;
   gap: none;
   font-size: 32px;
}

.banner{
    max-width: 1150px;
    padding: 122px;
    
    
}
.banner-text{
    color: rgba(254, 163, 1, 1);
    font-size: 56px;
    font-weight: bold;
}
.banner-sec-text{
    color: black;
    font-size: 56px;
    font-weight: bold;
}
.banner-third-text{
    color: rgba(1, 172, 253, 1);
    font-size: 56px;
    font-weight: bold;
}
.banner-description{
    font-size: 20px;
}
.button-second{
    background-color: rgb(0, 0, 0);
border-radius: 12px;
text-align: center;
font-size: 20px;
font-weight: semibold;
color: white;
padding: 10px 47px;
border: none;
}

.banner-flex{
    display: flex;
    gap: 50px;
}

main{
  max-width: 1140px;
  margin: 0 auto;
  padding: 30px 490px ;
  text-align: center;
  
}
.curriculum-title{
  font-size: 25px;
  font-weight: bold;
  color: rgba(32, 32, 32, 1);
  text-align: center;
  /* padding: 22px 52px; */
}
.Curriculum-container{
  display: flex;
  gap: 28px;
  margin-top: 80px;
}

.curriculum-description{
  padding: 23px 32px;
}
.cu-one{
border-radius: 18px;
background-color: rgba(222, 245, 255, 1);
box-shadow: rgba(0, 0, 0, 0.05);
}
.cu-two{
  border-radius: 18px;
  background-color: rgba(255, 244, 220, 1);
box-shadow: rgba(0, 0, 0, 0.05);

}
.cu-three{
  border-radius: 18px;
  background-color: rgba(242, 232, 255, 1);
box-shadow: rgba(0, 0, 0, 0.05);

}

.cu-one-butn{
  background: none;
 border: none;
 font-size: 15px;
 font-weight: bold;
 color: rgba(100, 200, 255, 1);
}
.cu-two-btn{
  background: none;
  border: none;
  font-size: 15px;
  font-weight: bold;
  color: rgba(240, 170, 0, 1);
}

.cu-three-btn{
  
  background: none;
  border: none;
  font-size: 15px;
  font-weight: bold;
  color:rgba(135, 0, 255, 1);
}